* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(143, 87, 247, 0.655);
}
.input-wrapper {
  width: 20rem;
  height: 25rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #9a18d7c5;
  box-shadow: 8px 14px 10px 3px rgba(0, 0, 0, 0.68);
}
.input-box {
  margin-top: 5rem;
}
.input-pas {
    position: relative;
  margin: 3rem auto;
}
.input_class {
  width: 15rem;
  height: 3rem;
  padding: 0.5rem;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #000;
   background-color: #fff;
}
.input_class:focus {
  border-bottom: 2px solid #680794c5;

}
.btn-click {
  width: 7rem;
  height: 2rem;
  outline: 0;
  letter-spacing: 1px;
  background-color: #fff;
  border: 1px solid #000;
}
label {
  position: relative;
}
label .eye-icon{
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
}